[x-cloak] { display: none !important; }
.form-group{
    position: relative;
}
.calculator{
    position: absolute;
    right: 0;
    max-width: max-content;
    max-height: min-content;
    padding: 0.3rem;
    top: calc(100% + 1px);
    z-index:10;
    border-bottom-left-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
    --tw-bg-opacity: 1;
    --tw-border-opacity: 1;
    /*TODO вынести в темную тему*/
    border-color: rgba(var(--dark-300), var(--tw-border-opacity));
    background-color: rgba(var(--dark-800),var(--tw-bg-opacity));
    --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    --tw-shadow-color: rgba(var(--primary), .15);
    --tw-shadow: var(--tw-shadow-colored);
}
